@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=PT+Mono&Source+Code+Pro:ital,wght@1,900&display=swap');

/* Font families for the site */
/* font-family: 'Fredoka One', cursive; < Headings
/* font-family: 'Source Code Pro', monospace; weight: 900
font-family: 'PT Mono', monospace; < Everything else */

/* General */
body {
    font-family: 'PT Mono', monospace;
    background-color: #59405c;
}

.card h4 {
    font-family: 'Source Code Pro', monospace; 
    font-weight: 900;
    color: #FFFFFF;
}

h2 {
    font-family: 'Source Code Pro', monospace; 
    font-weight: 900;
}

p, h2, .navbar-nav, .nav-link, .navbar-brand, h5 {
    color: #FFFFFF;
}

    
.card {
    background-color: #87556f;
    box-shadow: #503654 9px 10px 0px 0px;
}

.main-container {
    background-color: #4b5d67;
    background-image: url(../images/bottom_background.png), url(../images/top_background.png);
    background-repeat: no-repeat;
    background-position: bottom, top;
}

.footer-container {
    background-color: #59405c;
}

.alert {
    color: yellow;
}

.profile-list, .admin-lists {
    list-style: none;
    padding: 0 0 0 0;
}

.profile-list li, .admin-lists li {
    padding-top: 5px;
}

.avatar {
    max-width: 170px;
    height: auto;
    border-radius: .25rem;
}

.avatar-stories {
    max-width: 60px;
    height: auto;
    border-radius: 5px;
}

.avatar-posted-by {
    margin: 0;
}

.welcome-card-footer-text, .bottom-footer-text {
    margin: 0;
    color: #322f3d;
}

.stories-col {
    /* Overflow hidden, to hide the full story, to allow users to go and read further when clicking "READ MODE" */
    overflow: hidden;
    height: 200px;
}

/* Overlay gradient, to overlay the text to read more */
.overlay-gradient {
    background: linear-gradient(180deg, rgb(2 0 36 / 0%) 0%, rgba(9,9,121,0) 0%, rgb(135 85 111) 100%);
    height: 200px;
    width: 99%;
    position: absolute;
}

.modal-title, .modal-body p, .modal-body h5 {
    color: black !important;
}

.doge_img {
    max-width: 100%;
    height: auto;
}

.social-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.social-list li {
    padding: 5px;
    font-size: 50px;
    margin: 0;
    transition: font-size 1s;
}

.social-list li:hover {
    padding: 5px;
    font-size: 75px;
    margin: 0;
}

/* Navigation */
.navbar-brand {
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Source Code Pro', monospace; 
    font-weight: 900;
    font-size: 30px;
}

.navbar-collapse {
    text-align: right;
    padding-right: 10px;
}

.navbar-toggler-fa-icon {
    color: #FFFFFF;
}

.navbar-toggler:focus {
    box-shadow: unset;
}
    
.navbar {
background-color: #322f3d;
}

/* Pagination (only needed if infinite-scroll is broken) */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination-col {
    padding-left: 28px;
}

/* Menu WYSIWYG */
.note-dropdown-item:hover {
    background-color: #87556f;
}

.note-editor .note-toolbar .note-dropdown-menu, .note-popover .popover-content .note-dropdown-menu {
    min-width: 160px;
    background-color: #322f3d;
    color: #FFFFFF;
}

a.note-dropdown-item, a.note-dropdown-item:hover {
    margin: 5px 0;
    color: #FFFFFF;
    text-decoration: none;
}

/* Found solution to removing file upload, from https://stackoverflow.com/questions/33615669/disable-image-upload-in-summernote/33659947 */
.note-group-select-from-files {
    display: none;
}

/* link styling */
/* unvisited link */
a:link {
color: #FFFFFF;
text-decoration: none;
}

/* visited link */
a:visited {
color: #FFFFFF;
}

/* mouse over link */
a:hover {
color: #FFFFFF;
text-decoration: underline 2px black;
}

.btn-primary:hover {
    text-decoration: none;
}

/* selected link */
a:active {
color: #FFFFFF;
text-decoration: underline 2px black;
}

/* Navbar styling */
.navbar-brand:hover {
    text-decoration: none;
}

.nav-link:hover {
    color: #FFFFFF;
}