{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h4 class="card-title"><em>Manage Languages</h4>
					<div class="row">
						<div class="col-12 pb-3">
							<form method="POST" action="{{ url_for("manage_languages") }}" class="row">
							{{ form.hidden_tag() }}
						<div class="row">
							<!-- Start col language selection -->
							<div class="col-sm-12 col-lg-6">
								Add language:
							</div>
							<div class="col-sm-12 col-lg-6">
								{{ form.language }}
							</div>
							<!-- End col language selection -->
						</div>
						<div class="row">
							<!-- Start col Submit button -->
							<div class="col-12 pt-3">
								{{ form.submit(class="btn btn-primary") }} 
							</div>
						</div>
						</div>
						<div class="col-12">
							<ul class="admin-lists">
								{% for language in languages %}
								<li>
									<a href="{{ url_for("edit_language", language_id=language._id) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
									<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-delete{{ language._id }}">Delete</button>
									{{ language.language_name }}
								</li>
								<!-- Modal Delete Story -->
								<div id="modal-delete{{ language._id }}" class="modal fade" tabindex="-1" aria-labelledby="modal-deleteLabel-{{ language._id }}" aria-hidden="true">
									<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
										Are you sure you want to delete <em><strong>{{ language.language_name }}</em></strong>?
										</div>
										<div class="modal-footer">
										<button type="button" class="btn btn-alert" data-bs-dismiss="modal">Close</button>
										<a href="{{ url_for("delete_language", language_id=language._id) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
										</div>
									</div>
									</div>
								</div>
						{% endfor %}
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}