{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h4 class="card-title"><em>Manage Languages</h4>
					<div class="row">
						<div class="col-12 pb-3">
							<form method="POST" action="{{ url_for("manage_languages") }}" class="row">
							{{ form.hidden_tag() }}
						<div class="row">
							<!-- Start col language selection -->
							<div class="col-sm-12 col-lg-6">
								Add language:
							</div>
							<div class="col-sm-12 col-lg-6">
								{{ form.language }}
							</div>
							<!-- End col language selection -->
						</div>
						<div class="row">
							<!-- Start col Submit button -->
							<div class="col-12 pt-3">
								{{ form.submit(class="btn btn-primary") }} 
							</div>
						</div>
						</div>
						<div class="col-12">
							<ul class="admin-lists">
								{% for language in languages %}
								<li>
									<a href="{{ url_for("edit_language", language_id=language._id) }}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</a>
									<a href="{{ url_for("delete_language", language_id=language._id) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a>
									{{ language.language_name }}
								</li>
						{% endfor %}
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}