{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Login to your account</h5>
				<p>Login to your account, to post new stories, comment on users their stories, and update your profile.</p>
				<form method="POST" action="{{ url_for("login") }}" class="row">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							Your Username:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.username }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.password }}
						</div>
					</div>
					<div class="col-12 pt-3">
						{{ form.submit(class_="btn btn-primary") }}
					</div>
					<div class="col-12 pt-3">
						<p>Forgot Password?</p>
						<a href="#" class="btn btn-primary">Reset password</a>
					</div>
					<div class="col-12 pt-3">
						<p>Not yet registered?</p>
						<a href="{{ url_for("register") }}" class="btn btn-primary">Register an account</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}