{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title"><em>{{ username }}'s</em> Profile </h5>
				<h6>Current stories posted:</h6>
				<ul>
					<li>Story #1</li>
					<li>Story #1</li>
					<li>Story #1</li>
					<li>Story #1</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}