{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h4 class="card-title"><em>{{ username }}'s</em> Profile </h4>
				<p>Edit your profile settings here below, users will be able to view the details you've specified here
					below.</p>
				<p>If you only want to change one value, only adjust that, and update</p>
				<div class="row">
					<div class="col">
						<form method="POST" action="#" class="row">
							{{ form.hidden_tag() }}
							<div class="row">
								<div class="col-sm-12 col-lg-6">
									About yourself:
								</div>
								<div class="col-sm-12 col-lg-6">
									{{ form.about_me(id="summernote") }}
								</div>
							</div>
							<div class="row pt-3">
								<div class="col-sm-12 col-lg-6">
									Your profile avatar:
								</div>
								<div class="col-sm-12 col-lg-6">
									{{ form.avatar }}
								</div>
							</div>
							<div class="col-12 pt-3">
								{{ form.submit(class_="btn btn-primary") }}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}