{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Register an account</h5>
				<p>To post messages to MWDS, you need to create an account, to post comments, you also need to have an account.</p>
				<p>Use the form below, to register, to start using MWDS.</p>
				<em><p class="alert"><i class="fas fa-exclamation-triangle"></i> Username & Password can only contain a-z characters, and numbers, and exist out of five characters or more.</p></em>
				<form method="POST" action="{{ url_for("register") }}" class="row">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							Your Username:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.username(size=32) }}<br>
							{% for error in form.username.errors %}
            					<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.password(size=32) }}<br>
							{% for error in form.password.errors %}
            					<span style="color: red;">[{{ error }}]</span>
            				{% endfor %}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Confirm Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.password_confirm(size=32) }}<br>
							{% for error in form.password_confirm.errors %}
            					<span style="color: red;">[{{ error }}]</span>
            				{% endfor %}
						</div>
					</div>
					<div class="col-12 pt-3">
						{{ form.submit(class_="btn btn-primary") }}
					</div>
					<div class="col-12 pt-3">
						<p>Already registered?</p>
						<a href="{{ url_for("login") }}" class="btn btn-primary">Log In to your account</a>
					</div>
					<div class="col-12 pt-3">
						<p>Or, if you've forgotten password?</p>
						<a href="#" class="btn btn-primary">Reset password</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}