{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<!-- Start error messages Form -->
<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3 text-center">
		<!-- Start error message username -->
		{% for error in form.username.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<h2 class="text-danger">{{ error }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<!-- End error message username -->

		<!-- Start error email address -->
		{% for error in form.email_address.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<h2 class="text-danger">{{ error }}</h2>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<!-- End error email address -->

		<!-- Start error about me -->
		{% for error in form.about_me.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<h2 class="text-danger">{{ error }}</h2>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<!-- End error about me -->

		<!-- Start error avatar -->
		{% for error in form.avatar.errors %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<h2 class="text-danger">{{ error }}</h2>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endfor %}
		<!-- End error avatar -->
		
		<!-- Start error Password -->
		{% for error in form.password.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<h2 class="text-danger">{{ error }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<!-- End error Password -->

		<!-- Start error Password Confirm -->
		{% for error in form.password_confirm.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<h2 class="text-danger">{{ error }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<!-- End error Password Confirm -->
	</div>
</div>
<!-- End error messages Form -->

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Register an account</h5>
				<p>To post messages to MWDS, you need to create an account, to post comments, you also need to have an account.</p>
				<p>Use the form below, to register, to start using MWDS.</p>
				<em><p class="alert"><i class="fas fa-exclamation-triangle"></i> Username & Password can only contain a-z characters, and numbers, and exist out of five characters or more.</p></em>
				<form method="POST" action="{{ url_for("register") }}" class="row">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							Your Username:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.username }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Email Address:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.email_address }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.password }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Confirm Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.password_confirm }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							About Yourself:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.about_me }}
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Avatar:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.avatar }}
						</div>
					</div>
					<div class="col-12 pt-3">
						{{ form.submit(class_="btn btn-primary") }}
					</div>
					<div class="col-12 pt-3">
						<p>Already registered?</p>
						<a href="{{ url_for("login") }}" class="btn btn-primary">Log In to your account</a>
					</div>
					<div class="col-12 pt-3">
						<p>Or, if you've forgotten password?</p>
						<a href="#" class="btn btn-primary">Reset password</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}