{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Register an account</h5>
				<p>To post messages to MWDS, you need to create an account, to post comments, you also need to have an account.</p>
				<p>Use the form below, to register, to start using MWDS.</p>
				<em><p class="alert"><i class="fas fa-exclamation-triangle"></i> Username & Password can only contain a-z characters, and numbers, and exist out of five characters or more.</p></em>
				<form method="POST" action="{{ url_for("register") }}" class="row">
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							Your Username:
						</div>
						<div class="col-sm-12 col-lg-6">
							<input type="username" name="username" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter your username" minlength="5" maxlength="15" required>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-sm-12 col-lg-6">
							Your Password:
						</div>
						<div class="col-sm-12 col-lg-6">
							<input type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Enter your password" minlength="5" maxlength="15" required>
						</div>
					</div>
					<div class="col-12 pt-3">
						<input type="submit" value="Create my account" class="btn btn-primary"> 
					</div>
					<div class="col-12 pt-3">
						<p>Already registered?</p>
						<a href="{{ url_for("login") }}" class="btn btn-primary">Log In to your account</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}