{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<div class="row">
					<div class="col-2">
						{# Ed Bradley, CI lead, helped me solve the link between story/avatar #}
						{% for user in users if user.username == story.username %}
							<img src="{{ user.avatar }}" class="avatar-stories" />
						{% endfor %}
					</div>
					<div class="col-10">
						<h4 class="card-title">{{ story.story_title }}</h4>
						<p>Posted on: {{ story.posted_date|truncate(13, false, "") }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p>{{ story.story_description|safe }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Start Comment post row/col -->
<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h4 class="card-title">No comments posted yet...</h4>
				<p>Post a reply</p>
				<hr>
				<h5>Posted by: michaeldijk - date: 05/24/2021</h5>
				<p>Text goes here</p>
				<hr>
				<h5>Posted by: michaeldijk - date: 05/24/2021</h5>
				<p>Text goes here</p>
				<hr>
				<h5>Posted by: michaeldijk - date: 05/24/2021</h5>
				<p>Text goes here</p>
				<hr>
			</div>
		</div>
	</div>
</div>
<!-- End Comment post row/col -->
{% endblock %}