{% extends "base.html" %}
{% block content %}

<!-- Created by Michael Dijk -->
<!-- Milestone 3 project, Code Institute -->
<!-- App build with Flask, MongoDB Atlas, Bootstrap and some Googleness -->

<div class="row pt-3 pb-3">
	{% for story in stories %}
		  <div class="col-sm-12 col-lg-6 p-3">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title">{{ story.story_title }}</h5>
					<p>Posted by: <em>{{ story.username }}</em></p>
					<p>Main language discussed: <em>{{ story.language_name }}</em></p>
					<p class="card-text">{{ story.story_description }}</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		  </div>
	  {% endfor %}	
</div>
{% endblock %}