{% extends "base.html" %}
{% block content %}
{# Start intro message, for users not logged on #}
{% if session.user == anonymous %}
<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3 text-center">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Welcome to My WebDev Story</h5>
				<p>A place to share knowledge, ask questions and post stories, and learn from each other.</p>
				<p>Please create an account to post new stories, comment on stories, and view full messages, or, login:</p>
				<div class="row">
					<div class="col-12 col-md-6 p-2">
						<a href="{{ url_for("register") }}" class="btn btn-primary">Register an account</a>
					</div>
					<div class="col-12 col-md-6 p-2">
						<a href="{{ url_for("login") }}" class="btn btn-primary">Log In to your account</a>
					</div>
				</div>
			</div>
			<div class="card-footer text-muted">
        <p class="welcome-card-footer-text"><a href="{{ url_for("about") }}">About</a> | <a href="{{ url_for("terms") }}">Terms</a> | <a href="{{ url_for("contact") }}">Contact</a> | <a href="{{ url_for("languages") }}">Languages</a> | © My WebDev Story 2021</p>
  </div>
		</div>
	</div>
</div>
{% endif %}
{# End intro message, for users not logged on #}

{% if session.user != anonymous %}
<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 pb-3 text-center">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Search</h5>
				<form action="{{ url_for('search') }}" method="post">
					{{ form.hidden_tag() }}
					<div class="row">
						<!-- Start col language selection -->
						<div class="col-sm-12 col-lg-6">
							Search:
						</div>
						<div class="col-sm-12 col-lg-6">
							{{ form.search }}
						</div>
						<!-- End col language selection -->
					</div>
					<div class="row">
						<div class="col-12">
							{{ form.submit }}
							<a href="{{ url_for('get_stories') }}" class="red btn text-shadow">Reset</a>
						</div>
					</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}

<!--Start container fluid, for infinite scroll, as it needs a container  -->
<div class="container-fluid container-infinite-scroll" id="infinite-scroll">
	<div class="row pt-3 pb-3">
		{% for story in stories %}
		<div class="col-sm-12 col-lg-6 p-3">
			<div class="card h-100">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-2">
							{# Ed Bradley, CI lead, helped me solve the link between story/avatar #}
							{% for user in users if user.username == story.username %}
							<img src="{{ user.avatar }}" class="avatar-stories" />
							{% endfor %}
						</div>
						<div class="col-sm-12 col-md-10">
							{# if session is not logged on, redirect to logon, otherwise, open single_story view #}
							{% if session.user == anonymous %}
							<p class="avatar-posted-by">Posted by: <em><a href="{{ url_for("login") }}">{{
										story.username }}</a></em> | {{ story.posted_date|truncate(13, false, "") }}</p>
							{% else %}
							<p class="avatar-posted-by">Posted by: <em><a href="{{ url_for("public_profile",
										username=story.username) }}" target="_blank">{{ story.username }}</a></em> | {{ story.posted_date|truncate(13, false, "") }}</p>
							{% endif %}
							<p>Main language discussed: <em>{{ story.language_name }}</em></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h5 class="card-title">{{ story.story_title }}</h5>
						</div>
					</div>
					<div class="row">
						{#
							Overlay gradient div, to create a nice overlayed color difuser, to entice users to read more.
							As truncate broke the divs, used this as an alternative
						#}
						<div class="overlay-gradient"></div>
						<div class="col-12 stories-col">
							{{ story.story_description|safe }}
						</div>
					</div>
					<div class="row">
						<div class="col-12 pt-3">
							{# if session is not logged on, redirect to logon, otherwise, open single_story view #}
							{% if session.user == anonymous %}
							<a href="{{ url_for("login") }}" class="btn btn-primary"><i
									class="fas fa-angle-double-right"></i>
								Read More</a>
							{% else %}
							<a href="{{ url_for("single_story", story_id=story._id) }}" target="_blank"
								class="btn btn-primary"><i class="fas fa-angle-double-right"></i> Read More</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!--End container fluid, for infinite scroll, as it needs a container  -->

<!-- Start Pagination row/col -->
<div class="row justify-content-center align-items-center">
	<div class="col pagination-col">
		{{ pagination.links }}
	</div>
</div>
<!-- End Pagination row/col -->
{% endblock %}