{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Login to your account</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quidem hic nobis? Odit, ducimus quam ipsum provident voluptate corrupti et aliquid reprehenderit natus fugiat harum omnis labore facere blanditiis quidem.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}