{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center pt-3 pb-3">
	<div class="col-sm-12 col-md-10 col-lg-8 p-3">
		<div class="card h-100">
			<div class="card-body">
				<h5 class="card-title">Languages</h5>
				<img src="{{ url_for("static", filename="images/about/languages.png") }}" alt="Country flags, for different cultures/languages" class="img-fluid">
				<!-- Found image on https://pixabay.com/vectors/flags-russia-usa-germany-china-1722052/ -->
				<p>Currently, MWDS is only available in English, but please do send us a request, if you would like other languages to be covered, and we will do our best to accomadate.</p>
				<p>Alternatively, if you would like to contribute in transforming MWDS to another language, your help is much appreciated, please do let us know through <a href="{{ url_for("contact") }}">Contacting</a> us.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}